@charset="UTF-8";
	div.geral{
		width:1200px;
		height:600px;
		background-color: ;
		margin-left: auto;
		margin-right: auto;
		font-family: arial;
	}

	div.banner h1{
		text-align: center;
	}

	div.banner img{
		width: 300px;
		height: 150px;
		margin-left: 50px;
		display: inline;
		align-items: center;
	}

	div.banner{
		width:1200px;
		height:300px;
		margin-top:;
		border: 1px solid green;
	}

	div.imagens{
		width: 1200px;
		height: 300px;
		margin-top: 20px;
	}

	div.imagens img{
		width: 200px;
		height: 300px;
		margin-left: 150px;
		margin-top: 50px;
	}
