@charset="UTF-8";

div.menu{
		width:1200px;
		height:75px;
		background-color: green;
	}

	div.menu h1{
		font-size: 20pt;
		margin-left: 85px;
		margin-top: -60px;
		font-family:times;
		color: white;
	}

	div.menu img{
		width: 100px;
		height: 100px;
		align-content: center;
	}

	div.links{
		width: 250px;
		height: 75px;
		margin-top:-93px;
		margin-left: 955px;
		display: inline;
		position: absolute;
	}

	div.links:hover{
		background-color: #00a000;
	}

	nav.links{
		margin-top: 50px;
		margin-left:25px;
		display: inline;
	}

	div.links a{
		text-decoration: none;
		color: white;
		margin-left: 15px;
	}

	div.links a:hover{
		color: #cccccc;
	}
